/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/02/2017, 06:32:27 PM
    Author     : David Zuluaga
*/
@media only screen and (min-width: 860px) { 
    #divbodymenu {
        width: 210px;
    }       
    #divbodymenu2{
        width: 74%;
    }
}

@media only screen and (min-width: 900px) { 
    #divbodymenu {
        width: 210px;
    }       
    #divbodymenu2{
        width: 75%;
    }
}

@media only screen and (min-width: 990px) { 
    #divbodymenu {
        width: 210px;
    }       
    #divbodymenu2{
        width: 77%;
    }
}

@media only screen and (min-width: 1060px) { 
    #divbodymenu {
        width: 210px;
    }       
    #divbodymenu2{
        width: 79%;
    }
}

@media only screen and (min-width: 1110px) { 
    #divbodymenu {
        width: 215px;
    }       
    #divbodymenu2{
        width: 79.5%;
    }
}

@media only screen and (min-width: 1170px) { 
    #divbodymenu {
        width: 220px;
    }       
    #divbodymenu2{
        width: 80%;
    }
}

@media only screen and (min-width: 1200px) { 
    #divbodymenu {
        width: 225px;
    }       
    #divbodymenu2{
        width: 80%;
    }
}

@media only screen and (min-width: 1280px) { 
    body {
        font-size: 12.7px;
        line-height: 1.42857143;
    }
    #divbodymenu {
        width: 230px;
    }       
    #divbodymenu2{
        width: 81%;
    }
}

@media only screen and (min-width: 1350px) { 
    body {
        font-size: 12.8px;
        line-height: 1.42857143;
    }
    #divbodymenu {
        width: 235px;
    }       
    #divbodymenu2{
        width: 81.5%;
    }
}

@media only screen and (min-width: 1420px) { 
    body {
        font-size: 13px;
        line-height: 1.42857143;
    }
    #divbodymenu {
        width: 240px;
    }       
    #divbodymenu2{
        width: 82%;
    }
}

@media only screen and (min-width: 1510px) { 
    #divbodymenu {
        width: 250px;
    }       
    #divbodymenu2{
        width: 82.5%;
    }
}

@media only screen and (min-width: 1600px) { 
    #divbodymenu {
        width: 250px;
    }       
    #divbodymenu2{
        width: 83%;
    }
}

@media only screen and (min-width: 1699px) { 
    #divbodymenu {
        width: 260px;
    }       
    #divbodymenu2{
        width: 83.5%;
    }
}

@media only screen and (min-width: 1810px) {
    #divbodymenu {
        width: 270px;
    }    
    #divbodymenu2{
        width: 1420px;
    }
}

@media only screen and (min-width: 1880px) {
    #divbodymenu {
        width: 380px;
    }
    #divbodymenu2{
        width: 1430px;
    }
    body {
        font-size: 14px;
        line-height: 1.42857143;
    }
}
