html, body {
    height: 100%; /* hacer que la página llene toda la altura */
}
#div{
    /*background-color:azure;*/
    position: absolute; 
    top: 2%; 
    left: 2%; 
    width: 96%;
    height: 96%;
    /*margin: -100px 0 0 -100px; /* si el contenedor es de 200 x 200 */
}

#divhead{
    width: 100%;
    height: 20%;
    background-color: beige;
    border-radius: 5px 5px 5px 5px;
}

#txtbarner{
    text-align: center;
}

#divbody {
    height: 70%;
}

#divbodymenu {
    /*position: absolute;*/
    height: 85%;
    width: 275px;
    float: left;
    /*background-color: black;*/
    /*text-decoration-color: floralwhite;*/
    /*color: aliceblue;*/
    border-radius: 5px 5px 5px 5px;
    /*--margin-top: 5px;  /* estas cifras tienen que ser opostas */
}
#divbodymenu2{
    /*position: absolute;*/
    height: 85%;
    width: 575px;
    float: right;
    /*background-color: black;*/
    /*text-decoration-color: floralwhite;*/
    /*color: aliceblue;*/
    border-radius: 5px 5px 5px 5px;
    /*--margin-top: 5px;  /* estas cifras tienen que ser opostas */
}

#divfooter {
    height: 20px;  /* establece la altura del pie de página */
    margin-top: -50px;  /* estas cifras tienen que ser opostas */
    /*background-color: coral;*/
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

