<div>
    <fieldset>
        <legend>Contabilidad de Costos</legend>
        <h4> Especializada por el sector manufacturero, requiere de un entendimiento de la contabilidad en general.</h4>
        <br>
        <h4> Temas </h4>
        <br>
        <ul>
            <li>
                <h4>Inventarios</h4> 
            </li>  
            <li>
                <h4>Costos por producción</h4> 
            </li> 
            <li>
                <h4>Costos por actividades - ABC</h4> 
            </li> 
            <li>
                <h4>Distribución CIF</h4> 
            </li>
            <li>
                <h4>Proyección presupuestal de costos</h4> 
            </li>  
        </ul>
        <br>
        <h4> Duración: 20 Horas </h4>
    </fieldset>   
</div>