<div>
    <fieldset>
        <legend>Contabilidad Intermadia</legend>
        <h4> Contabilidad profunda adecuada para el entendimiento global de las organizaciones, ideal para aquellos que poseen fundamentos contables y que requieren profundizar en temas específicos.</h4>
        <br>
        <h4> Temas </h4>
        <br>
        <ul>
            <li>
                <h4>Transacciones especiales y ajustes</h4> 
            </li>  
            <li>
                <h4>Inventarios</h4> 
            </li> 
            <li>
                <h4>Nómina</h4> 
            </li> 
            <li>
                <h4>Liquidación de impuestos y conciliación fiscal</h4> 
            </li>
            <li>
                <h4>Estados financieros</h4> 
            </li>  
        </ul>
        <br>
        <h4> Duración: 20 Horas </h4>
    </fieldset>   
    <img src="img/capci.jpg" alt="" id="img1"/>
</div>