<div>
    <fieldset>
        <legend>Actualización tributaria</legend>
        <h4> Con este curso logrará estar actualizado en materia impositiva, ya que los cambios continuos en el ámbito fiscal, crean la necesidad de mantenerse al día en este aspecto.</h4>
        <br>
        <h4> Temas </h4>
        <br>
        <ul>
            <li>
                <h4>Impto. a la Renta y Complementarlos</h4> 
            </li>  
            <li>
                <h4>Impto. al patrimonio</h4> 
            </li> 
            <li>
                <h4>Impto. sobre las ventas</h4> 
            </li> 
            <li>
                <h4>Retención en la fuente</h4> 
            </li>
            <li>
                <h4>Impto. de Industria y Comercio, avisos y tableros</h4> 
            </li>  
        </ul>
        <br>
        <h4> Duración: 25 Horas </h4>
    </fieldset>   
    <img src="img/capcc.jpg" alt="" id="img1"/>
</div>